---
page_title: "circleci_project Data Source - circleci"
subcategory: ""
description: |-
  Fetches information about a CircleCI project and its settings.
---

# circleci_project (Data Source)

Fetches information about a CircleCI project and its settings.

## Example Usage

{{ tffile "examples/data-sources/circleci_project/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
